.modalRoot{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:rgba(1,1,1,0.2);
    /* background: rgba(231, 240, 231, 0.322); */


}

.btn-primary:hover{
    
   background-color: black;
      
}